header,body,footer,h1,h2,h3,div,p,ul,li,dl,dd,dt,nav{padding:0;margin:0}
ul,li{list-style:none}
a{text-decoration:none}  

/*contents.css*/
body{
	width: 100%;
}
input{
    display:none;
}
#contents_wrap{
	margin-right: 300px;
}


/* home */
#home{
	width: 100%; height: 1250px;
	background:url(../images/main_bg.png);
}
.home_inner{
	width: 80%; height: 1150px;
	margin: 0 auto;
	overflow: hidden;
}
.title > h2{
	width: 100%;
	padding-top: 28%;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 60px;
	letter-spacing: 1px;
}
.line{
	width: 100%; height: 3px;
	background: #000;
	margin-top: 30px;
}
.small_txt{
	margin-top: 30px;
}
.small_txt div{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 3px;
}
.small_txt div p{
	margin-left: 30px;
	width: 260px; height: 70px;
	border: 2px solid #000;
	box-sizing: border-box;
	text-align: center;
	line-height: 65px;
	letter-spacing: 2px;
	transition-duration: 0.5s;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}
.small_txt div p:hover{
	background: #fff;
	border: 2px solid #c0cccc;
	transition-duration: 0.5s;
    color: #c0cccc;
}
.title > h2{
    padding-top: 30%; 
    font-size: 50px;
    letter-spacing: 1px;
}
.title > h2 > span{
    display: block;
}


/* about */
#about{
    width: 100%;
    background:url(../images/about_bg.png);
    padding-top: 180px;
    padding-bottom: 180px;
}
.about_inner{
    width: 900px;
    margin:auto;
}
.about_inner > h1{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 55px;
	letter-spacing: -1px;
	text-align: center;
}
.about_inner > p{
	text-align: center;
	font-size: 16px;
}
.about_inner > div{
	margin-top: 100px;
	position: relative;
}
.sutto{
	display: inline-block;
	background: #fff;
}
   .sutto p{
    text-align: center;
}
.sutto > div{
	background: #fff;
	padding: 10px;
	padding-left: 20px;
}
.sutto > div > p{
	font-weight: 500;
}
.about_data{
	display: inline-block;
	margin-left: 50px;
	position: absolute;
	top: 0;
	letter-spacing: 1px;
	font-size: 15px;
}
.about_data > p{
	line-height: 4;
    color:#000
}
.about_data > p > b{
	display: inline-block;
	width: 100px;
    margin-right:20px
}
.about_data > p > span{
	display: inline-block;
    color:#000
}
.education>span{
    line-height:2;
}
.education>b{
    position:relative;
    left:0;top:-30px;
}


/* portfolio */
#portfolio{
	width: 100%;
	background: url(../images/main_bg.png);
	padding-top: 70px;
	padding-bottom: 200px;
}
.port_inner{
	width: 1060px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.port_inner > h1{
	padding-top: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 55px;
	letter-spacing: -1px;
	text-align: center;
}
.port_inner > ul{
	overflow: hidden;
	margin-top: 50px;
    background:rgba(255, 255, 255, 0.73);
    border:1px solid #c0cccc;
    padding-bottom:70px;
}
.port_inner > ul > li{
	float: left;
	margin-top: 40px;
	box-sizing: border-box;
	overflow: hidden;
}
.port_txt{
	padding: 15px 29px;
    color:#000;
    font-family:'Noto Sans KR', sans-serif;
}
.port_txt b{
 display:inline-block;
 width:130px;
    
}
.port_txt div{
    float:left;
    width:500px;
}
.port_txt .right span{
    display:inherit;
    line-height:2;
    padding-top:10px;
}
.pizza_colorIcon{
    display: inline-block;
}
.left .pizza_colorIcon i:nth-child(1){
    background:#c1202a;
}
.left .pizza_colorIcon i:nth-child(2){
    background:#fed13c;
}
.left .color i{
    display:inline-block;
    width:20px;
    height:20px;
    border-radius:10px;
    text-indent:-9999px;
    margin-right:8px;
}
.left p,.color{
    padding:8px 8px;
}

.pizza_web{
    position:relative;
    left:20%;
    width:563px;
    height:454px;
    background:url(../images/imac.png) no-repeat;
}
.pizza_web a{
    display:block;
    position:relative;
    left:4%;
    top:5%;
    width:517px;
    height:291px;
    text-indent:-9999px;
    background:url(../images/pizza_web.jpg) no-repeat;
}
.button a{
    float: left;
    display: block;
    width:200px;
    height:45px;
    border: 2px solid #000;
    color:#000;
    text-align: center;
    line-height:2.4;
    margin:0 0 50px 620px;
    font-size:18px;
    font-weight:bold;
    margin-top:50px;
}
.button a:hover{
    background: #fff;
    border: 2px solid #c0cccc;
    transition-duration: 0.5s;
    color: #c0cccc;
}
.button2 a{
    float: left;
    display: block;
    width:200px;
    height:45px;
    border: 2px solid #000;
    color:#000;
    text-align: center;
    line-height:2.4;
    margin-left:10px;
    font-size:18px;
    font-weight:bold;
    margin-top:50px;
}
.button2 a:hover{
	background: #fff;
	border: 2px solid #c0cccc;
	transition-duration: 0.5s;
    color: #c0cccc;
} 
.pizza_mobile{
    position:relative;
    left:8%;
    top:200px;
    width:150px;
    height:307px;
    background:url(../images/iphone.png) no-repeat;
    }
.pizza_mobile a{
    display:block;
    position:relative;
    left:4%;
    top:10%;
    width:138px;
    height:245px;
    text-indent:-9999px;
    background:url(../images/pizza_mobile.jpg) no-repeat;
}
.hanjin_web{
    position:relative;
    left:20%;
    width:563px;
    height:454px;
    background:url(../images/imac.png) no-repeat;
}
.hanjin_web a{
    display:block;
    position:relative;
    left:4%;
    top:5%;
    width:517px;
    height:291px;
    text-indent:-9999px;
    background:url(../images/hanjin.jpg) no-repeat;
}
.hanjin_btn a{
    display:block;
    width:200px;
    height:45px;
    border:2px solid #000;
    color:#000;
    text-align:center;
    line-height:2.4;
    margin-left:830px;
    font-size:18px;
    font-weight:bold;
    margin-top:50px; 
}
.hanjin_btn a:hover{
	background: #fff;
	border: 2px solid #c0cccc;
	transition-duration: 0.5s;
    color: #c0cccc;
} 
.hanjin_colorIcon{
    display: inline-block;
}
.left .hanjin_colorIcon i:nth-child(1){
    background:#4790CD;
}
.left .hanjin_colorIcon i:nth-child(2){
    background:#fff;
    border:1px solid #acaaaa
}
.left .hanjin_colorIcon i:nth-child(3){
    background:#676666;
}

/* contact */
#contact{
	width: 100%;
	background: #fcf9f4;
	padding-bottom: 150px;
}
.contact_inner{
	width: 100%;
	margin: 0 auto;
}
.contact_cont{
    text-align: center;
    line-height:2;
}
.contact_inner > h1{
	padding-top: 90px;
	width: 100%;
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 55px;
	letter-spacing: -1px;
    margin-bottom:30px;
}
.contact_cont p img{
    margin-right:10px;
}


/* footer */
footer{
	background: #fff;
	width: 100%; height: 120px;
}
footer > p{
	color: #7e7e7e;
	line-height: 120px;
	letter-spacing: 2px;
	text-align: center;
}