/* header.css*/
header{
	position: fixed;
	top: 0; right: 0;
	width: 300px; height: 100%;
	z-index: 100;
	background: #fff;
	border: 1px solid #eee;
}
.menu_wrap{
	position: relative;
	width: 70%; height: 100%;
	border: 1px solid #fff;
	margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}
.menu_wrap h1#logo{
	margin-top: 100px;
	text-align: center;
	font-size: 60px;
}
.menu_wrap h1#logo a{color:#000}
.menu_wrap ul {
	margin-top: 50px;
}
.menu_wrap ul li {
	margin-top: 10px;
	margin-left: 20px;
}
.menu_wrap ul li a {
	font-size: 25px;
	font-weight: 700;
	color: #535353;
	line-height: 50px;
	letter-spacing: 1px;
	margin-left: 5px;
}
.menu_wrap ul li a:hover {
	color: #c0cccc;
}
.menu_wrap p{
	width: 100%;
	position: absolute;
	bottom: 50px;
}
.menu_wrap p span{
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 10px;
	letter-spacing: 1px;
}
#main_header label.toggle {
	display: none;
}